.main-content {}

.main-content__top {
    max-width: #{ $max-width * 1.5 + 'em'};
    margin: 0 auto;
}

.main-content__sections {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
