<script src="{{ 'js/vendor/modernizr-3.6.0.min.js' | absolute_url }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ 'js/vendor/jquery-3.3.1.min.js' | absolute_url }}"><\/script>')</script>
<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="{{ 'js/plugins.js' | absolute_url }}"></script>
<script src="{{ 'js/main.js' | absolute_url }}"></script>

