<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.lang }}">
<!--<![endif]-->

    {% include head.html %}

    <body>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="main-header">
            {% include header.html %}
            {% include hero.html %}
        </header>

        <div class="main-content">
            {% assign sections = page.sections %}
            {% include content.html sections=sections %}
        </div>

        <footer class="main-footer">
            {% include footer.html %}
        </footer>

        {% include scripts.html %}

    </body>

</html>
